# Build files
build/
.pio/
.vscode/
.cache/
.clangd/

# compiled files
*.bin
*.elf
*.hex
*.map
*.pio
*.pio.elf
*.pio.hex
*.pio.map
*.pio.elf
*.pio.hex
*.pio.map

# secret files
lib/config/include/app_config.h

# mqtt instructions
mqtt_use.md 

# server
server/node_modules/
server/.env

dependencies.lock
sdkconfig.esp32dev