# Build files
build/
.pio/
.vscode/
.cache/
.clangd/

# compiled files
*.bin
*.elf
*.hex
*.map
*.pio
*.pio.elf
*.pio.hex
*.pio.map
*.pio.elf
*.pio.hex
*.pio.map

# secret files
lib/config/src/app_config.h

# temporary files (copyright issues)
lib/scd40/*
raport/